{% extends 'server-side/layout.njk' %}

{% block head%}
    <title>Administração | Foodfy</title>
    <link rel="stylesheet" href="/styles/recipes.css">
{% endblock %}

{% block content %}
<h2>Gerenciar receitas</h2>

<section class="recipe-adm">
    <div class="recipe admin">
        <div class="recipe-image">
            <img src="/assets/burger.png" alt="">
        </div>
        <div class="recipe-info">
            <div class="recipe-name">
                <h3>Triplo bacon burger</h3>
            </div>
            <div class="recipe-author">
                <p>por Jorge Relato</p>
            </div>
            <div class="recipe-update">
                <p>Visualizar</p>
            </div>
        </div>
    </div>

     <div class="recipe">
        <div class="recipe-image">
            <img src="/assets/burger.png" alt="">
        </div>
        <div class="recipe-info">
            <div class="recipe-name">
                <h3>Asinhas de frango ao barbecue</h3>
            </div>
            <div class="recipe-author">
                <p>por Jorge Relato</p>
            </div>
            <div class="recipe-update">
                <p>Visualizar</p>
            </div>
        </div>
    </div>

     <div class="recipe">
        <div class="recipe-image">
            <img src="/assets/burger.png" alt="">
        </div>
        <div class="recipe-info">
            <div class="recipe-name">
                <h3>Triplo bacon burger</h3>
            </div>
            <div class="recipe-author">
                <p>por Jorge Relato</p>
            </div>
            <div class="recipe-update">
                <p>Visualizar</p>
            </div>
        </div>
    </div>

     <div class="recipe">
        <div class="recipe-image">
            <img src="/assets/burger.png" alt="">
        </div>
        <div class="recipe-info">
            <div class="recipe-name">
                <h3>Triplo bacon burger</h3>
            </div>
            <div class="recipe-author">
                <p>por Jorge Relato</p>
            </div>
            <div class="recipe-update">
                <p>Visualizar</p>
            </div>
        </div>
    </div>

     <div class="recipe">
        <div class="recipe-image">
            <img src="/assets/burger.png" alt="">
        </div>
        <div class="recipe-info">
            <div class="recipe-name">
                <h3>Asinhas de frango ao barbecue</h3>
            </div>
            <div class="recipe-author">
                <p>por Jorge Relato</p>
            </div>
            <div class="recipe-update">
                <p>Visualizar</p>
            </div>
        </div>
    </div>

     <div class="recipe">
        <div class="recipe-image">
            <img src="/assets/burger.png" alt="">
        </div>
        <div class="recipe-info">
            <div class="recipe-name">
                <h3>Triplo bacon burger</h3>
            </div>
            <div class="recipe-author">
                <p>por Jorge Relato</p>
            </div>
            <div class="recipe-update">
                <p>Visualizar</p>
            </div>
        </div>
    </div>
</section>


{% endblock %}