{% extends 'server-side/layout.njk' %}

{% block head%}
    <title>Crie receitas | Foodfy</title>
    <link rel="stylesheet" href="/styles/create.css">
{% endblock %}

{% block content %}

<form action="/" method="post">
    <fieldset>
        <h2>Criando receita</h2>
        <button type="submit">Salvar receita</button>
    </fieldset>

    <fieldset>
        <div class="item">
            <legend>Imagem da receita</legend>
            <input type="url" name="recipe-image">
        </div>

        <div class="item">
            <legend>Nome da receita</legend>
            <input type="text" name="recipe-name">
        </div>

        <div class="item">
            <legend>Ingredientes</legend>
                <div class="ingredients">
                <input type="text" name="ingredients[]">
                </div>
            <p class="add-ingredient">Adicionar novo ingrediente</p>
        </div>

        <div class="item">
            <legend>Modo de preparo</legend>
                <div class="preparations">
                    <input type="text" name="preparations[]">
                </div>
            <p class="add-step">Adicionar novo passo</p>
        </div>

        <div class="item">
            <legend>Informações adicionais</legend>
            <textarea name="information" cols="30" rows="10"></textarea>
        </div>
    </fieldset>
</form>

<script src="/scripts/admin-scripts.js"></script>
{% endblock %}