{% extends 'server-side/layout.njk' %}

{% block head%}
    <title>Edite receitas | Foodfy</title>
    <link rel="stylesheet" href="/styles/create.css">
{% endblock %}

{% block content %}

<form action="/admin/recipes" method="post">
    <fieldset>
        <h2>Editando receita</h2>
        <div class="edit-control">
            <a href="">Deletar</a>
            <button type="submit">Salvar receita</button>
        </div>
    </fieldset>

    {% include 'server-side/fields.njk' %}
</form>

<script src="/scripts/admin-scripts.js"></script>
{% endblock %}