{% extends "client-side/layout.njk" %}

{% block head%}
    <title>Home | Foodfy</title>
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/recipes.css">
{% endblock %}

{% block content%}
    <div class="intro">
        <div class="intro-text">
            <div class="intro-text-title">
                <h2>As melhores receitas</h2>
            </div>
            <div class="intro-text-paragraph">
                <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
            </div>
        </div>
        <div class="intro-image">
            <img src="/assets/chef.png" alt="Imagem de Chef">
        </div>
    </div>
    <div class="wrapper">
        <h3>Mais acessadas</h3>
        <div class="recipes">
            {%for recipe in recipes %}
            <div class="recipe">
                <div class="recipe-image">
                    <img src="{{recipe.image_url}}" alt="{{recipe.title}}">
                </div>
                <div class="recipe-title">
                    <p>{{recipe.title}}</p>
                </div>
                <div class="recipe-author">
                    <p>por {{recipe.chef}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}
