{% extends "client-side/layout.njk" %}

    {% block head%}
    <title>Chefs | Foodfy</title>
    <link rel="stylesheet" href="/styles/recipes.css">
    {% endblock %}

{% block content %}
<section class="chef-adm">

    {% for chef in chefs %}
    <div class="chef admin">
        <div class="chef-image">
            <img src="{{chef.avatar_url}}" alt="Imagem de {{chef.name}}">
        </div>
        <div class="chef-info">
            <div class="chef-name">
                <h3>{{chef.name}}</h3>
            </div>
            <div class="chef-recipes">
                <p>{{chef.total_recipes}} receitas</p>
            </div>
        </div>
    </div>
    {% endfor %}
</section>

{% endblock %}