{% extends "client-side/layout.njk" %}

    {% block head%}
    <title>{{recipes.title}} | Foodfy</title>
    <link rel="stylesheet" href="/styles/recipes.css">
    {% endblock %}

{% block content %}
    <div class="current-recipe">
        <div class="recipe-image">
            <img src="{{ recipes.image_url }}" alt="{{ recipes.title }}"></div>
            <div class="recipe-title">
                <p>{{ recipes.title }}</p>
            </div>
            <div class="recipe-author">
                <p>por {{ recipes.chef }}</p>
            </div>
    </div>

    <div class="cooking-process">
        <div class="ingredients">
            <div class="text-content">
                <h2>Ingredientes</h2>
                <p>ESCONDER</p>
            </div>
            <ul class="recipe_info">
                {%for ingredients in recipes.ingredients%}
                <li>{{ingredients}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="preparation">
            <div class="text-content">
                <h2>Modo de preparo</h2>
                <p>ESCONDER</p>
            </div>
                <ol class="recipe_info">
                    {% for preparation in recipes.preparations%}
                    <li>{{preparation}}</li>
                    {% endfor%}
                </ol>
        </div>
        <div class="information">
            <div class="text-content">
                <h2>Informações adicionais</h2>
                <p>ESCONDER</p>
            </div>
            <p class="info recipe_info">{{recipes.informations}}</p>
        </div>
    </div>

    
    <script src="/scripts/show-hide.js"></script>
{% endblock %}