    {% extends "client-side/layout.njk" %}

    {% block head%}
    <title>Receitas | Foodfy</title>
    <link rel="stylesheet" href="/styles/recipes.css">
    {% endblock %}

    {% block addtolayout %}
        <div class="filter">
            <form action="/recipes" method="get">
                <input 
                type="text"
                name="filter"
                placeholder="Buscar uma receita">
                <button type="submit">Buscar</button>
            </form>
        </div>
{% endblock addtolayout %}

    {% block content%}
    <div class="wrapper">
        <div class="recipes">
           {%for recipe in recipes%}
           <a href="/recipes/{{recipe.id}}">
            <div class="recipe">
                <div class="recipe-image">
                    <img src="{{recipe.image}}" alt="{{recipe.title}}">
                </div>
                <div class="recipe-title">
                    <p>{{recipe.title}}</p>
                </div>
                <div class="recipe-author">
                    <p>por {{recipe.chef_name}}</p>
                </div>
            </div>
            </a>
            {% endfor %}

        </div>
    </div>

    {% endblock %}