    {% extends "client-side/layout.njk" %}

    {% block head%}
    <title>Receitas | Foodfy</title>
    <link rel="stylesheet" href="/styles/recipes.css">
    {% endblock %}

    {% block addtolayout %}
        <div class="filter">
            <form action="/recipes" method="get">
                <input 
                type="text"
                name="filter"
                value="{{filter}}"
                placeholder="Buscar uma receita">
                <button type="submit">Buscar</button>
            </form>
        </div>
{% endblock addtolayout %}

    {% block filtermessage %}
    <h2 class="filter">{{filtermessage}}</h2>
    {% endblock filtermessage %}

    {% block content%}
    <div class="container">
    <div class="wrapper">
        <div class="recipes">
           {%for recipe in recipes%}
           <a href="/recipes/{{recipe.id}}">
            <div class="recipe">
                <div class="recipe-image">
                     <img src="{{recipe.img if recipe.img else '//placehold.it/500x200'}}" alt="{{recipe.title}}">
                </div>
                <div class="recipe-title">
                    <p>{{recipe.title}}</p>
                </div>
                <div class="recipe-author">
                    <p>por {{recipe.chef_name}}</p>
                </div>
            </div>
            </a>
            {% endfor %}

        </div>
    </div>

    <div class="pagination"
    data-page={{pagination.page}}
    data-total={{pagination.total}}
    data-filter={{filter}}
    ></div>
    </div>
    {% endblock %}