{% extends 'server-side/layout.njk' %}

{% block head%}
    <title>Crie receitas | Foodfy</title>
    <link rel="stylesheet" href="/styles/create.css">
{% endblock %}

{% block content %}

<form action="/admin/recipes" method="post" enctype="multipart/form-data">
    <fieldset>
        <h2>Criando receita</h2>
        <button type="submit">Salvar receita</button>
    </fieldset>

    <fieldset>

        {% include 'server-side/recipes/fields.njk' %}

        <div class="item">
            <legend>Ingredientes</legend>
                <div class="ingredients">
                
                <input type="text" name="ingredients[]" value="{{ingredient}}">
               
                </div>
            <p class="add-ingredient">Adicionar novo ingrediente</p>
        </div>

        <div class="item">
            <legend>Modo de preparo</legend>
                <div class="preparations">
                    <input type="text" name="preparations[]" value="{{prep}}">
                </div>
            <p class="add-step">Adicionar novo passo</p>
        </div>

        <div class="item">
            <legend>Informações adicionais</legend>
            <textarea name="informations" cols="30" rows="10">{{recipe.informations | striptags(true) | escape | nl2br}}</textarea>
        </div>
    </fieldset>
</form>

    <script src="/scripts/creating.js"></script>
{% endblock %}