{% extends 'server-side/layout.njk' %}

{% block head%}
    <title>Edite receitas | Foodfy</title>
    <link rel="stylesheet" href="/styles/create.css">
{% endblock %}

{% block content %}

<form action="/admin/recipes?_method=PUT" method="post" enctype="multipart/form-data">
    <fieldset>
        <h2>Editando receita</h2>
        <div class="edit-control">
            <p>Deletar</p>
            <button type="submit">Salvar receita</button>
        </div>
    </fieldset>

    <fieldset>
        
        {% include 'server-side/recipes/fields.njk'%}

        <div class="item">
            <legend>Ingredientes</legend>
                <div class="ingredients">
                {% for ingredient in recipe.ingredients %}
                <input type="text" name="ingredients[]" value="{{ingredient}}">
               {% endfor %}
                </div>
            <p class="add-ingredient">Adicionar novo ingrediente</p>
        </div>

        <div class="item">
            <legend>Modo de preparo</legend>
                <div class="preparations">
                    {% for prep in recipe.preparations %}
                    <input type="text" name="preparations[]" value="{{prep}}">
                    {% endfor %}
                </div>
            <p class="add-step">Adicionar novo passo</p>
        </div>

        <div class="item">
            <legend>Informações adicionais</legend>
            <textarea name="informations" cols="30" rows="10">{{recipe.informations | striptags(true) | escape | nl2br }}</textarea>
        </div>
    </fieldset>

    <input type="hidden" name="id" value="{{recipe.id}}">
</form>

<div class="modal-overlay">
    <div class="modal">
        <div class="delete-message">
            <h2>Deseja mesmo deletar sua receita?</h2>
        </div>
        <div class="delete-buttons">
            <p>Cancelar</p>
            <form id="form-delete" action="/admin/recipes?_method=DELETE" method="post">
                <button type="submit">Deletar</button>
                <input type="hidden" name="id" value="{{recipe.id}}">
            </form>
        </div>
    </div>
</div>
    <script src="/scripts/deleting-modal.js"></script>
{% endblock %}