{% extends 'server-side/layout.njk' %}

{% block head%}
    <title>Administração de Receitas | Foodfy</title>
    <link rel="stylesheet" href="/styles/recipes.css">
{% endblock %}

{% block content %}
<h2 class="admin">Gerenciar receitas</h2>

<section class="recipe-adm">

    {% for recipe in recipes %}
    <div class="recipe admin">
        <div class="recipe-image">
            <img src="{{recipe.image_url}}" alt="Imagem de {{recipe.title}}">
        </div>
        <div class="recipe-info">
            <div class="recipe-name">
                <h3>{{recipe.title}}</h3>
            </div>
            <div class="recipe-author">
                <p>por {{recipe.chef}}</p>
            </div>
            <div class="recipe-view">
                <p>Visualizar</p>
            </div>
        </div>
    </div>
    {% endfor %}
</section>

<script src="/scripts/admin-index.js"></script>
{% endblock %}