{% extends 'server-side/layout.njk' %}

{% block head%}
    <title>Administração de Receitas | Foodfy</title>
    <link rel="stylesheet" href="/styles/recipes.css">
{% endblock %}

{% block content %}
<div class="create-new">
    <h2 class="admin">Gerenciar receitas</h2>
    <a href="/admin/recipes/create">Nova receita</a>
</div>

<section class="recipe-adm">

    {% for recipe in recipes %}
    <div class="recipe admin">
        
         {% if not files[0] %}
                    <img src="http://placehold.it/180x100?text=PRODUTO SEM FOTO">
                {% else %}
                <div class="recipe-image">
                    <img src="{{ files[0].src }}" alt="{{ files[0].name }}">
                </div>
        {% endif %}

        <div class="recipe-info">
            <div class="recipe-name">
                <h3>{{recipe.title}}</h3>
            </div>
            <div class="recipe-author">
                <p>por {{recipe.chef_name}}</p>
            </div>
            <div class="recipe-view">
                <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}