form {
    width: 940px;
    margin: 0 auto;
}

form fieldset:nth-child(1) {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
}

form fieldset:nth-child(1) button {
    background-color:#6558C3; 
    padding: 9px 20px;
    border-radius: 4px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

form fieldset:nth-child(2) {
    margin-top: 30px;
}

form fieldset:nth-child(2) .item legend {
    font-size: 16px;
    font-weight: bold;
    color: #111111;
    margin-bottom: 10px;
}

.item {
    margin-bottom: 30px;
}

form fieldset:nth-child(2) .item input[type="text"],
form fieldset:nth-child(2) .item textarea,
.select {
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    width: 100%;
    padding: 16px;
    outline: none;
    font-weight: normal;
    font-size: 16px;
    color: #111111;
}

.select option:first-child {
    cursor: pointer;
    color: #777;
}

.select option {
    color: #111111;
}


.select:focus,
.select:hover {
    outline: none;
}

textarea {
    resize: none;
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
}

form fieldset:nth-child(2) .item p.add-ingredient,
form fieldset:nth-child(2) .item p.add-step {
    font-size: 16px;
    font-weight: bold;
    color: #6558C3;
    cursor: pointer;
    display: inline-block;
    margin-top: 15px;
}

form fieldset:nth-child(2) .item p:hover {
    color: #3f2ebd;
    transition: 400ms;
}

input + input {
    margin-top: 10px;
}

.edit-control p {
    background-color: #DC4747; 
    padding: 9px 20px;
    border-radius: 4px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}


/* IMAGE UPLOAD */
form .item #photos-upload {
    position: relative;
    display: block;
    width: 115px;
    overflow: hidden;
}

form .item #photos-upload i.material-icons {
    font-size: 48px;
    color: #777;
    border: 1px solid #DDDDDD;
    padding: 32px;
    text-align: center;
    cursor: pointer;
}

form .item #photos-input {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}


form .item #photos-preview {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
    width: 100%;
    margin: 8px 0;
}

form .item #photos-preview img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

#photos-preview .photo {
    position: relative;
}

#photos-preview .photo i {
    position: absolute;
    top: 0;
    left: 0;

    background-color: rgba(255,255, 255, 0.8);
    color: red;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 500%;
    cursor: pointer;

    transition: opacity 400ms;

    opacity: 0;
}

#photos-preview .photo:hover i{
    opacity: 1;
}


/* MODAL DELETE CONFIRMATION*/

.modal-overlay {
    background: #000000a6;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
}

.modal {
    text-align: center;
    background: white;
    border-radius: 16px;
    height: 200px;
    width: 680px;
    margin: 20vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal .delete-message h2 {
    font-family: Roboto;
    font-weight: 500;
    font-size: 28px;
    color: #111111;
    margin-top: 50px;
    line-height: 28px;
}

.modal .delete-buttons {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.modal .delete-buttons form{
    width: 150px;
    margin: unset;
}

.modal .delete-buttons form button {
    background-color: #DC4747; 
    padding: 9px 20px;
    border-radius: 4px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    margin-left: 20px;
}

.modal .delete-buttons p {
    background-color:#6558C3; 
    padding: 9px 20px;
    border-radius: 4px;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
}


.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}