@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.all-content {
    max-width: 940px;
    margin: 0 auto 50px;
}

.menu {
    margin: 36px 0px 38px;
    display: flex;
}

.menu-logo {
    margin-right: 122.4px;
    cursor: pointer;
}

.menu-links {
    display: flex;
    align-items: center;
}

.menu-links a {
    text-decoration: none;
    color: #111111;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    position: relative;
}

.menu-links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color:black;
    position: absolute;
    left: 0;
    bottom: -3px;
}

.menu-links a:hover::after{
    width: 100%;
    transition: width 500ms ease-in-out;
}

.menu-links a.active{
    font-weight: bold;
}

.menu-links .link-about {
    margin-right: 30px;
}

.footer {
    min-width: 100%;
    padding: 25px 0;
    margin-top: auto;
    background: #eeeeee;
}

.footer-text p {
    font-size: 14px;
    color: #999999;
    text-align: center;
}

/* not found page */

.not-found {
    margin: 32vh auto;
    background-color: #FBDFDB;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
}

.not-found h1 {
    text-align: center;
}

/* ADMIN AREA */

.admin-area {
    background-color: #111111;
    width: 100%;   
}

.admin-area .menu-logo {
    max-width: 940px;
    margin: 0px 385px;
    align-items: left;
}

.admin-area .menu-logo img {
    text-align: start;
}