        <div class="item">
            <legend>Nome</legend>
            <input type="text" name="name" value="{{chef.name}}">
        </div>

        <div class="item">
            <legend>Avatar</legend>
            <div id="avatar-upload">
                <input 
                type="file" 
                name="avatar" 
                multiple
                accept="image/*">
                Enviar Avatar
            </div>
        </div>
        