{% extends 'server-side/layout.njk' %}

{% block head%}
    <title>Administração de Chefs | Foodfy</title>
    <link rel="stylesheet" href="/styles/recipes.css">
{% endblock %}

{% block content %}
<h2 class="admin">Gerenciar Chefs</h2>

<section class="chef-adm">

    {% for chef in chefs %}
    <div class="chef admin">
        <div class="chef-image">
            <img src="{{chef.avatar_url}}" alt="Imagem de {{chef.name}}">
        </div>
        <div class="chef-info">
            <div class="chef-name">
                <h3>{{chef.name}}</h3>
            </div>
            <div class="chef-view">
                <p>Visualizar</p>
            </div>
        </div>
    </div>
    {% endfor %}
</section>

<script src="/scripts/admin-index.js"></script>
{% endblock %}